name: Test

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up uv
        uses: astral-sh/setup-uv@v6
      -
        name: Run tests
        run: |
          uv run pytest
          uv run mypy
          uv run pyright
